<!DOCTYPE html>
<html>
<head>
  <title>Flexhire Backend</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  <p>This is a button that creates a webhook</p>

  <%= form_with(url: webhooks_path(source: 'flexhire'), method: :post, remote: true) do |form| %>
    <%= form.label :message %>
    <%= form.text_field :message %>

    <%= form.label :event %>
    <%= form.text_field :event %>

    <%= form.submit 'Create Webhook', class: 'btn btn-primary' %>
  <% end %>

  <div id="json-response"></div>

  <script>
    $(document).ready(function() {
      $('form').submit(function(e) {
        e.preventDefault(); 
        $.ajax({
          url: $(this).attr('action'),
          method: 'POST',
          data: $(this).serialize(),
          success: function(response) {
            $('#json-response').text(JSON.stringify(response));
          },
          error: function(error) {
            console.error('Error creating webhook:', error);
          }
        });
      });
    });
  </script>
</body>
</html>
