<div id="<%= dom_id webhook %>">
  <p>
    <strong>Source:</strong>
    <%= webhook.source %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= webhook.data %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= webhook.message %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= webhook.event %>
  </p>

</div>
